<div class="row row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-4 ">
    <div class="col" *ngFor="let item of items">
        <div (click)="verArtistaOAlbum(item)" class="card puntero" >
            <img [src]="item.images | noimage" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">
                    <span class="badge text-bg-primary" *ngFor="let artist of item.artists">{{artist.name}}</span>
                </p>
            </div>
        </div>
    </div>
</div>
